<h1>
  <%= @artist %> - <%= @artist_obj.songs.size %> Songs
</h1>
<h2>
  <ol>
    <% @artist_obj.songs.each do |song| %>
      <li>
        <a href = "/songs/<%= song.title.gsub(" ", "_") %>">
          <%= song.title %>
      </li>
    <% end %>
  </ol>
</h2>