<div class="navbar">
  <a class="homenav" href="/home">Playlister</a>
  <a href="/artists">Artists</a>
  <a href="/genres">Genres</a>
  <a href="/songs">Songs</a>
  <p>
</div>

<h1>
  Artists
</h1>
<h3>
  <%= ::Artist.all.size %>  Total
</h3>
<p>
  <ol>
    <% ::Artist.all.each do |artist| %>
      <li>
        <a href="artists/<%= artist.name.gsub(" ", "_") %>">
          <%= artist.name %>
        </a>
      </li>
      <br>
    <% end %>
  </ol>
</p>