<h1>
  <%= @genre %> - <%= @genre_obj.songs.size %> Songs
</h1>
<h2>
  <ol>
    <% @genre_obj.songs.each do |song| %>
      <li>
        <a href = "/songs/<%= song.title.gsub(" ", "_") %>">
          <%= song.title %>
        </a>
      </li>
    <% end %>
  </ol>
</h2>