<div>
  <div id="home">
    Welcome to Playlister
  </div>
  <p>Let's go for a stroll in musicland.</p>
  <div id="homelinks_container">
    <div class="homelinks">
      <a href="/artists">Artists</a>
    </div>
    <div class="homelinks">
      <a href="/genres">Genres</a>
    </div>
    <div class="homelinks">
      <a href="/songs">Songs</a>
    </div>
  </div>
</div>