<div>
  <div id="home">
    Welcome to Playlister
  </div>
  <p>Let's go for a stroll in musicland.</p>
  <div id="homelinks">
    <a href="/artists">Artists</a>
    <a id="middle" href="/genres">Genres</a>
    <a href="/songs">Songs</a>
  </div>
</div>