<div class="navbar">
  <a class="homenav" href="/home">Playlister</a>
  <a href="/artists">Artists</a>
  <a href="/genres">Genres</a>
  <a href="/songs">Songs</a>
  <p>
</div>

<h1>
  <em><%= @song %></em> by <a href="/artists/<%= @song_obj.artist.gsub(" ", "_") %>"><%= @song_obj.artist %></a>
</h1>