body {
  margin: 0 auto;
  width: 100%;
  background: url(/img/low_contrast_linen.png) repeat;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  line-height: 1;
}

p {
  color: #D5DCE8;
  text-align: center;
  font-size: 30px;
}

.navbar a {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

#homelinks_container {
  padding-top: 80px;
  width: 500px;
  margin: 0 auto;
  display: block;
}

.homelinks {
  display: inline-block;
  font-size: 30px;
  width: 110px;
  text-align: center;
  margin: 27px;
}

.homelinks a {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.homelinks a:hover {
  color: teal;
}

.homenav {
  font-size: 36px;
  font-weight: bold;
  padding: 12px 0px 12px 0px;
  text-align: center;
}

#home {
  font-size: 65px;
  font-weight: bold;
  padding: 50px 0px 40px 0px;
  text-align: center;
  color: #9FABC2;
}

h1, h3 {
  text-align: center;
  color: #9FABC2;
}

h1 {
  font-size: 64px;
}

h3 {
  line-height: 1;
  font-size: 34px;
  opacity: 0.6;
}

ol {
  margin-left: 20%;
}

ol a:hover {
  color: #CEDBDE;
  text-decoration: none;
}

li {
  color: #636C78;
  line-height: 1.1;
}

.listen_container {
  width: 70px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

.listen a {
  display: inline-block;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  background-color: rgba(23, 23, 23, 0.4);
  color: #5F5F66;
  border-radius: 15px;
}

.listen a:hover {
  text-decoration: none;
  color: #D1D7E3;
}